<h1>Welcome to Customer Loan predictions</h1>
<h2>Please enter your details below:</h2>
<form  method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.Age.label }} {{form.Age}}
    <br>
    {{ form.Experience.label}} {{form.Experience}}
    <br>
    {{form.Income.label}}{{form.Income}}
    <br>
    {{form.CCAvg.label}}{{form.CCAvg}}
    <br>
    {{form.Mortgage.label}}{{form.Mortgage}}
    <br>
    {{form.Securities_Account.label}}{{form.Securities_Account}}
    <br>
    {{form.CD_Account.label}}{{form.CD_Account}}
    <br>
    {{form.Online.label}}{{form.Online}}
    <br>
    {{form.CreditCard.label}}{{form.CreditCard}}
    <br>
    {{form.Family.label}}{{form.Family()}}
    <br>
    {{form.Education.label}}{{form.Education()}}
    <br>
    {{ form.submit() }}
</form>
